/* Estilos adicionales personalizados */

/* Estilos para el título */
h1 {
    color: #007bff;
  }
  
  /* Estilos para el formulario agregar */
  .formulario-agregar {
    border: 1px solid #dee2e6;
    padding: 20px;
    border-radius: 5px;
    transition-property: background-color;
    transition-duration: 3s;
  }
  
  /* Estilos para el formulario eliminar */
  .formulario-eliminar {
    border: 1px solid #dc3545;
    padding: 20px;
    border-radius: 5px;
  }
  
  /* Estilos para la sección de búsqueda */
  .busqueda {
    margin-bottom: 20px;
  }
  
  /* Estilos para el botón de búsqueda */
  .busqueda button {
    margin-top: 10px;
  }
  
  /* Estilos para el catálogo */
  .catalogo {
    display: none;
    margin-bottom: 20px;
  }
  
/* Estilos para el carrito */
.carrito {
    border: 1px solid #28a745;
    padding: 20px;
    border-radius: 5px;
  }
/* Estilos para el botón de confirmar compra */
#confirmarCompraBtn {
    display: block;
    margin-top: 10px;
  }
  /* Estilos para el botón de mostrar catálogo */
  #mostrarCatalogoBtn {
    display: block;
    margin: 30px auto;
    background-color:#7700ff;
  }
  
  /* Estilos para cada producto en el catálogo */
  .producto {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .producto img {
    max-width: 100%;
  }
  
  /* Estilo para resaltar el producto al pasar el mouse */
  .producto:hover {
    transform: scale(1.05);
  }